#gameBoard {
	width : 100%;
	margin : auto;
	display: block;
	text-align: center;
}

.playerCard {
	border : 2px solid black;
	border-radius : 4px;
	background-color : #A8A8A8;
}

.colorBox {
	height : 30px;
	width : 30px;
	display : block;
	margin : auto;
	margin-top : 10px;
}

.numberBox {
	color : black;
	font-size : 20px;
}

.numberBoxContainer {
	display : inline-block;
}

.verticalCard {
	display: inline-block;
	width : 50px;
	height: 75px;
	margin-right: 10px;
	margin-left: 10px;
}

.horizontalCard {
	width : 75px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left : 75px;
}

.horizontalCard .colorBox {
	display : inline-block;
	margin-top: 7px;
	margin-left : 0px;
}

.horizontalCard .numberBox {
	padding-bottom : 10px;
	margin-bottom : 10px;
	line-height : 2px;
}

.topHand {
	margin-bottom : 50px;
}

.bottomHand {
	margin-top : 50px;
}

.topHand,
.bottomHand {
	display: inline-block;
}

.leftHand {
}

.rightHand {
}

.leftHand,
.rightHand {
}