/*@font-face {
	font-family: 'yFiles';
	src: url('Monserga-regular-FFP.ttf')
}*/

#main {
	margin-top : 50px;
}

#gameBoard {
	width : 100%;
	margin : auto;
	display: block;
	text-align: center;
}

#centerBoard {
	border : 5px solid black;
	border-radius : 5px;
	height : 350px;
	background-color : #E0E0E0;
}

.playerCard,
.playerCardHover {
/*	border : 2px solid black;*/
	border : 1px solid black;
	border-radius : 4px;
	background-color : #A8A8A8;
	width : 75px;
	height : 50px;
}

.playerCard:hover {
	border-width: 0px;
}

.playerCardHover:hover {
	border-width : 3px;
	width : 80px;
	height : 53px;
	z-index : 5;
	margin-top : -5px;
	margin-right : -3px;
	box-shadow : 0px 0px;
}

.colorBox {
	height : 30px;
	width : 30px;
	display : block;
	margin : auto;
	margin-top : 10px;
	border-radius : 5px;
}

.numberBox {
	line-height : 30px;
	color : black;
	font-weight: bolder;
	font-style : italic;
	font-family : Palatino;
	font-size : 35px;
}

.numberBoxContainer {
	margin-top : 5px;
	display : block;
	height:  : 100%;
}

.verticalCard {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.horizontalCard {
	display : block;
	text-align: center;
	margin-left : 75px;
	margin-bottom : 10px;
}

.horizontalCard .numberBox {

}

.topHand {
	margin-bottom : 50px;
}

.bottomHand {
	margin-top : 50px;
}

.topHand,
.bottomHand {
}

.leftHand {
}

.rightHand {
}

.leftHand,
.rightHand {
	margin-top : 30px;
}

.stacks {
	padding-bottom : 10px;
}

.stackCard {
	opacity : 1;
}

#redStack,
#whiteStack,
#greenStack,
#yellowStack,
#blueStack {
	width : 75px;
	height : 100px;
	display : inline-block;
	margin-top : 25px;
	margin-left : 5px;
	margin-right : 5px;
	border-radius : 20px;
	opacity : 0.4;
}

#redStack {
	background-color : #F75151;
}

#whiteStack {
	background-color : white;
}

#blueStack {
	background-color : #5BC0DE;
}

#greenStack {
	background-color : #52c940;
}

#yellowStack {
	background-color : yellow;
}

.infoLabel {
	font-weight: bold;
	margin-left : 20px;
	margin-top : 5px;
}

.gameInfo {
	display : block;
	background-color: white;
	border : 1px solid black;
	font-size : 18px;
	padding-bottom : 5px;
	margin-top : 3px;
	bottom : 0px;
	height : 25px;
}

.strikesInfo {
	margin-right : 20px;
}

.discardPile {
	margin-top : 15px;
	border : 2px solid black;
	border-radius : 5px;
	background-color : #B7B7B7;
}

.discardsTitle {
	margin-top : 4px;
	background-color : white;
	border : 1px solid black;
	border-radius : 5px;
	border-collapse: collapse;
	display : block;
}

#whiteDiscards,
#yellowDiscards,
#redDiscards,
#blueDiscards,
#greenDiscards {
	margin-top: 10px;
	margin-right : 25px;
	font-size : 5px;
}

#whiteDiscards p,
#yellowDiscards p,
#redDiscards p,
#blueDiscards p,
#greenDiscards p {
	font-size : 12px;
	line-height : 5px;
}

#whiteDiscards p span {
	color : white;
}

#yellowDiscards p span {
	color : yellow;
}

#redDiscards p span {
	color : red;
}

#blueDiscards p span {
	color : blue;
}

#greenDiscards p span {
	color : green;
}

#whiteDiscards p span,
#yellowDiscards p span,
#redDiscards p span,
#blueDiscards p span,
#greenDiscards p span {
	font-weight : bold;
	margin-left : 20px;
	margin-right : 3px;
}

.topBottomTurn {
	margin-top : 75px;
}

.turnArrow {
	font-size : 20px;
}

.turnButtons {
	top : -50px;
	text-align: center;
	vertical-align: middle;
}

.turnButtons button {
	width : 150px;
	height : 35px;
}

.discardHover {
		border-color: #C9302C;
}

.playHover {
	border-color: #5BC0DE;
}

.hintHover {
	border-color: #5CB85C;
}

#gameConsole {
	height : 178px;
	text-align: center;
	padding-top : 10px;
}

.cardMenu {
	top : 50px;
	z-index : 5;
}

.shadow {
  box-shadow: -3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.dontDisplay {
	display : none;
}

#gameConsole .btn {
	font-size : 15px;
	font-weight: bolder;
}

.consoleMessage {
	margin-bottom : 5px;
}