<!-- <div class="dropdown">
	<div ng-repeat="card in player.hand" id="{{card.id}}" class="playerCard {{ card.html.orientation }} shadow dropdown-toggle" type="button" toggle="dropdown" aria-haspopup="true" aria-expanded="true"
				style="background-color : {{card.html.color}};" >
		<div class="numberBoxContainer" ng-if="(player.id !== 1) || (card.numberHinted)">
			<span class="numberBox">
				{{ card.number }}
			</span>
		</div>
	</div>

	<div id="{{ card.id }} + 'Menu'" class="cardMenu">

	</div>
</div>

 -->
<div ng-if="(!displayInline)">
	<div ng-repeat="card in player.hand" class="dropdown">
	  <div class="btn dropdown-toggle playerCard {{ card.html.orientation }} shadow" 
	  style="background-color : {{card.html.color}};" ng-click="cardClicked(card, player.id)">
	    <div class="numberBoxContainer" ng-if="(player.id !== 1) || (card.numberHinted)">
				<span class="numberBox">
					{{ card.number }}
				</span>
			</div>
	  </div>
	</div>
</div>
<div ng-if="(displayInline)">
 <div ng-repeat="card in player.hand" class="btn-group">
	  <div class="btn dropdown-toggle playerCard {{ card.html.orientation }} shadow" 
	  style="background-color : {{card.html.color}};" ng-click="cardClicked(card, player.id)">
	    <div class="numberBoxContainer" ng-if="(player.id !== 1) || (card.numberHinted)">
				<span class="numberBox">
					{{ card.number }}
				</span>
			</div>
	  </div>
	</div>
</div>
		