<div class="container">

	<div id="gameBoard" class="jumbotron">
		<div class="row">
			<div class="col-sm-3"></div>
			<player-hand id="player3hand" class="topHand col-sm-6" player="players[2]" turn="turn" discard="discard"></player-hand>
			<div class="col-sm-3"></div>
		</div>

		<div class="row">
			<player-hand id="player2hand" class="leftHand col-sm-3" player="players[1]" turn="turn" discard="discard"></player-hand>

			<div id="centerBoard" class="col-sm-6">
				<div class="stacks row">
					<div id="whiteStack">
					</div>
					<div id="yellowStack">
					</div>
					<div id="redStack">
					</div>
					<div id="blueStack">
					</div>
					<div id="greenStack">
					</div>
				</div>

				<div class="discardPile row">
					<div class="row">
						<b>Discards:</b>
					</div>

					<div id="whiteDiscards">
						<p><span>1</span> : {{ discards.white[1] }}/3</p>
						<p><span>2</span> : {{ discards.white[2] }}/2</p>
						<p><span>3</span> : {{ discards.white[3] }}/2</p>
						<p><span>4</span> : {{ discards.white[4] }}/2</p>
						<p><span>5</span> : {{ discards.white[5] }}/1</p>
					</div>
					<div id="yellowDiscards">						
						<p><span>1</span> : {{ discards.yellow[1] }}/3</p>
						<p><span>2</span> : {{ discards.yellow[2] }}/2</p>
						<p><span>3</span> : {{ discards.yellow[3] }}/2</p>
						<p><span>4</span> : {{ discards.yellow[4] }}/2</p>
						<p><span>5</span> : {{ discards.yellow[5] }}/1</p>
					</div>
					<div id="redDiscards">
						<p><span>1</span> : {{ discards.red[1] }}/3</p>
						<p><span>2</span> : {{ discards.red[2] }}/2</p>
						<p><span>3</span> : {{ discards.red[3] }}/2</p>
						<p><span>4</span> : {{ discards.red[4] }}/2</p>
						<p><span>5</span> : {{ discards.red[5] }}/1</p>
					</div>
					<div id="blueDiscards">
						<p><span>1</span> : {{ discards.blue[1] }}/3</p>
						<p><span>2</span> : {{ discards.blue[2] }}/2</p>
						<p><span>3</span> : {{ discards.blue[3] }}/2</p>
						<p><span>4</span> : {{ discards.blue[4] }}/2</p>
						<p><span>5</span> : {{ discards.blue[5] }}/1</p>
					</div>
					<div id="greenDiscards">
						<p><span>1</span> : {{ discards.green[1] }}/3</p>
						<p><span>2</span> : {{ discards.green[2] }}/2</p>
						<p><span>3</span> : {{ discards.green[3] }}/2</p>
						<p><span>4</span> : {{ discards.green[4] }}/2</p>
						<p><span>5</span> : {{ discards.green[5] }}/1</p>
					</div>

				</div>

				<div class="gameInfo row">
					<div class="pull-left">
						<span class="infoLabel">
							Hints: 
						</span>
						{{ hints }}
					</div>

					<div class="strikesInfo pull-right">
						<span class="infoLabel">
							Strikes:
						</span>
						{{ strikes }}
					</div>
				</div>

			</div>

			<player-hand id="player4hand" class="rightHand col-sm-3" player="players[3]" turn="turn" discard="discard"></player-hand>

		</div>

		<div class="row">
			<div class="col-sm-3"></div>
			<player-hand id="player1hand" class="bottomHand col-sm-6" player="players[0]" turn="turn" discard="discard"></player-hand>
			<div class="col-sm3"></div>
		</div>

		<div class="turnButtons">
			<button class="btn" ng-click="playCardClicked()">Play Card</button>
			<button class="btn btn-primary">Make Hint</button>
			<button class="btn btn-default" ng-click="discardClicked()">Discard</button>
		</div>
	</div>

</div>